.contenedor{

    display: grid;
    grid-template-columns: 1 1fr;
}
.datos{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat( 4 1fr);
    
}
.datos .dato p{

    font-size: var(--sm);
    color: var(--gris);
}

.datos .resultados p{
    
    font-size: var(--sm);
    color: var(--grisclaro);

}
